/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color styles */
    --blue-nav: #255EE9;
    --grey-bg: #F6F6F6;
    --black-footer: #23272A;
    --purple-btn: #7289DA;
    --primary-color: #FFFFFF;
    --black-text: #000000;
}

.debug {
    border: 1px solid red;
}

.grey-bg {
    background-color: var(--grey-bg);
}


body {
    background-color: var(--primary-color);
    font-family: 'Noto Sans', sans-serif;
}




header {
    background-color: var(--blue-nav);
}

footer {
    background-color: var(--black-footer);
}

/* FLEX */


.d-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}


.d-flex-content {

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
    
}

.align-center {
    align-items: center;
    align-content: center;
}



.row-reverse {
    flex-flow: row-reverse wrap;
}

.flex-end{
    justify-content: flex-end;

}

.flex-start{
    justify-content: flex-start;

}

.left {
    width: 55%;
}

.right {
    width: 45%;
    

}

.footer-spacearound{
    justify-content: space-around;
}
.footer-spacebetw{
    justify-content: space-between;
}

.no-wrap{
    flex-wrap: nowrap;
}



/* / FLEX */



/* ANCORE */

.btn {
    padding: 7px 10px;
    color: var(--black-text);
    text-decoration: none;
    border-radius: 15px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
}

.btn-wcontent {
    padding: 15px 20px;
    border-radius: 30px;
    margin-right: 20px;
    font-size: 1.2rem;
    display: inline-block;
    font-weight: 500;

}

.btn-bcontent {
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1.2rem;
    background-color: var(--black-footer);
    color: var(--primary-color);
    display: inline-block;
    font-weight: 500;
}

.btn-pcontent {
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--purple-btn);
    color: var(--primary-color);
   
}

.bgcolor-btn-white{
    background-color: var(--primary-color);
}







/*/ ANCORE */



/* CONTAINER */

.star-text{

    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.bigsect-textbox{
    text-align: center;
    max-width: 850px;
}



.space-nav {
    padding-right: 40px;
}



.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 15px;

}

.footer-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 15px;

}


.padding-nav {
    padding-top: 15px;
}


#jumbotron {
    background-image: url(../img/jumbo.png);
    min-height: 610px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}



.header-content {
    text-align: center;
    max-width: 800px;
}

.text-box{
    max-width: 450px;
    padding: 50px;
}

.footer-box{
    max-width: 120px ;
    padding: 20px;

}

.add-space{
    min-width: 300px;
}

.purple-line{

    border-top: 1px solid var(--purple-btn);
}


/*/ CONTAINER */


/* TEXT */


/* header */

ul {
    list-style: none;
}

li {
    color: var(--primary-color);

}

.header-content>h1 {
    color: var(--primary-color);
    font-size: 2.8rem;
    padding-bottom: 40px;
}

.header-content>p {
    color: var(--primary-color);
    font-size: 1.3rem;
    line-height: 30px;

}

/* main */

h2 {
    color: var(--black-text);
    font-size: 2.2rem;

}

section p{
    color: var(--black-text);
    font-size: 1rem;
    padding-top: 20px;

}

h3{
    text-align: center;
    font-size: 1.5rem;
    padding: 30px 50px;
}


h4{
    color: var(--purple-btn);
    font-size: 1.5rem;

}


h5{
    color: var(--purple-btn);
    

}

a{
    text-decoration: none;
}

.footer-box a{
    color: var(--primary-color);
    line-height: 30px;
}

select {
    text-decoration: none;
    background-color: var(--black-footer);
    border: none;
    color: var(--primary-color);
}




/*/ TEXT */



/* IMG */

.sect-img{
    width: 80%;
}


.flag{
   max-width: 20px;
}

